<% if logged_in? %>
  <%= form_tag(marks_path, class: "block") do %>
    <div class="field">
      <%= text_field_tag(:url, nil, class: "input", placeholder: "https://~~~") %>
    </div>
    <%= submit_tag("Submit", class: "button is-info is-small") %>
  <% end %>
<% end %>
