<h2>
  <%= @user.name %>
</h2>
<% if @marks.count > 0 %>
<ul>
  <% @marks.each do |mark| %>
  <li>
    <%= render(partial: "items/card", locals: { item: mark.item }) %>
  </li>
  <% end %>
</ul>
<% end %>
