<h2>
  Welcome#index
</h2>
<% if @marks.count > 0 %>
<ul>
  <% @marks.each do |mark| %>
  <li>
    <p>
      <%= image_tag(mark.user.icon_url, width: 24) %>
      <%= mark.user.name %>
    </p>
    <%= render(partial: "items/card", locals: { item: mark.item }) %>
  </li>
  <% end %>
</ul>
<% end %>
