nav.guest {
  margin-bottom: 40px;
}

.mark-card {
  position: relative;
  margin-bottom: 10px;
  padding: 0 0 10px 46px;
  border-bottom: 1px solid #ddd;
  border-radius: 4px;

  .mark-user-icon {
    position: absolute;
    top: 0;
    left: 0;

    img {
      border-radius: 100%;
    }
  }

  .mark-time {
    position: absolute;
    top: 0;
    right: 0;
  }

  .mark-user-name, .mark-time {
    margin: 0 0 6px !important;
    line-height: 1.4em;

    span {
      color: #999;
    }
  }

  h3 {
    line-height: 1.4em;
    margin: 0 !important;
    font-size: 1.2em;
  }

  .domain {
    font-size: 0.9em;
    color: #999;
  }

  .mark-card-image {
    position: absolute;
    top: 30px;
    right: 0;
    width: 150px;
    height: 80px;
    background: #eee no-repeat center/cover;
    border-radius: 4px;

    img {
      height: 100%;
    }
  }

  &.with-image {
    min-height: 126px;
    padding-right: 170px;
  }
}

.user-icon {
  border-radius: 100%;
}

.message {
  .message-header {
    p {
      a, span {
        vertical-align: super;
      }
    }
  }
}
