.item-card {
  position: relative;
  margin: 0 0 10px;
  padding: 10px 10px 10px 14px;
  border: 1px solid #ccc;
  border-radius: 3px;

  h3 {
    margin: 5px 0;
  }

  .item-card-description {
    height: 46px;
    overflow-y: hidden;
    margin: 0;
    font-size: 0.9em;
  }

  .item-card-image {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 200px;
    height: 100px;
    text-align: center;
    background-color: #eee;

    img {
      height: 100%;
    }
  }

  &.with-image {
    height: 100px;
    padding-right: 220px;
  }
}
