<nav class="navbar is-dark <%= logged_in? ? nil : "guest" %>" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <%= link_to("Kairan", root_path, class: "navbar-item is-size-3") %>
  </div>

  <div class="navbar-menu">
    <div class="navbar-end">
      <%= render(partial: "layouts/google_login") %>
    </div>
  </div>
</nav>
